{% extends "base.html" %}

{% block title %}Verify OTP - Movie Reservation{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
  <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
    <h2 class="text-center mb-4">Verify OTP</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_email_otp" class="form-label">Enter OTP</label>
        <input type="text" name="email_otp" class="form-control" id="id_email_otp" placeholder="Enter the OTP" required>
      </div>

      <button type="submit" class="btn btn-primary w-100">Verify OTP</button>
    </form>
    <p class="text-center mt-3">
      Didn’t receive the code? <a href="{% url 'resend_otp' user.id %}">Resend OTP</a>
    </p>
  </div>
</div>
{% endblock %}
