{% extends "base.html" %}

{% block title %}Login - Movie Reservation{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
  <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
    <h2 class="text-center mb-4">Login</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_username" class="form-label">Email</label>
        <input type="email" name="username" class="form-control" id="id_username" placeholder="Enter your email" required>
      </div>

      <div class="mb-3">
        <label for="id_password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="id_password" placeholder="Enter your password" required>
      </div>

      <div class="form-check mb-3">
        <input type="checkbox" name="remember_me" class="form-check-input" id="rememberMe">
        <label class="form-check-label" for="rememberMe">Remember Me</label>
      </div>

      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
    <p class="text-center mt-3">Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
  </div>
</div>
{% endblock %}

