<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Verify OTP</h1>
    {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="email_otp" placeholder="Email OTP" required>
        <button type="submit">Verify OTP</button>
    </form>
</body>
</html>